.page-container
{
    margin:50px 50px 50px 50px;
    text-align: center;
}
.title
{
    margin:auto;
    width:50%;
    padding:10px 10px 10px 10px;
}
.address-div
{
width:600px;
margin:auto;
}
agm-map {
    height: 200px;

  }