<div class="page-container">
<h1 class="title">Welcome to Food Ordering App</h1>
<h2>{{restaurant.name}}</h2>
<img src="assets/images/restaurant1.jpg" />
<h4>If You are looking for ordering food click Login</h4>
<h4>Are you restaurant staff, click restaurant login to process orders</h4>
<h2>Userid's provided on the login screen for demo</h2>

<button class="btn btn-primary" (click)="login()">Login</button>
<button class="btn btn-primary" (click)="restaurantLogin()">Restaurant Login</button>
</div>